@import url('https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,600&display=swap');

/* Reset some default styles for all elements */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Base styles for the entire page */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

/* Navbar styles */
.navbar {
  background: linear-gradient(90deg, #800100, #310804);
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  width: 100%;
  height: 80px;
  line-height: 80px;
  font-size: 18px;
  padding: 0 30px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

/* Navbar - Brand */
.navbar a.navbar-brand {
  float: left;
  text-decoration: none;
  color: #fff;
  height: inherit;
  line-height: inherit;
  padding: 0 30px;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
}

.navbar a.navbar-brand span {
  font-size: 28px;
  font-weight: 700;
}

/* Navbar - Navigation Links */
.navbar ul {
  float: right;
  list-style: none;
  height: inherit;
  line-height: inherit;
  padding: 0 50px;
}

.navbar ul li {
  display: inline-block;
}

.navbar ul li a {
  display: block;
  text-align: center;
  min-width: 120px;
  padding: 0 30px;
  text-decoration: none;
  color: #fff;
}

.navbar ul li a:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

/* Navbar - Mobile Menu Toggle Button */
.navbar .navbar-toggler {
  display: none;
}

/* Responsive Design for Small Screens */
@media (max-width: 991px) {
  .navbar ul {
    padding: 0 10px;
  }

  .navbar ul li a {
    min-width: 100px;
    padding: 0 20px;
  } 
}

/* Responsive Design for Extra Small Screens (Phones) */
@media (max-width: 767px) {
   .navbar {
    padding: 0;
  } 

  .navbar ul {
     width: 100%;
    padding: 0;
    background: linear-gradient(90deg, #800100, #310804);
    height: 100vh;
    max-height: 0;
    overflow: hidden;
    transition: all ease-in-out 0.3s; 
  }

  .navbar ul.open {
    max-height: 100vh;
  }

  .navbar ul li {
    width: 100%; 
  }

  .navbar ul li a {
    padding: 0;
  }

  /* Navbar Hamburger Menu Button */
  .navbar .navbar-toggler {
    display: block;
    position: absolute;
    height: 40px;
    top: 20px;
    right: 20px;
    background: linear-gradient(90deg, #310804, #310804);
    color: #fff;
    border: 0;
    outline: none;
    padding: 0 5px;
    cursor: pointer; 
  }

  .navbar .navbar-toggler span,
  .navbar .navbar-toggler span::before,
  .navbar .navbar-toggler span::after {
    display: block;
    content: "";
    background-color: #ffffff;
    height: 3px;
    width: 28px;
    border-radius: 4px;
    transition: all ease-in-out 0.3s;
  }

  .navbar .navbar-toggler span::before {
    transform: translateY(-8px);
  }

  .navbar .navbar-toggler span::after {
    transform: translateY(5px);
  }

  /* Show "X" icon when menu is open */
  .navbar .navbar-toggler.open-navbar-toggler span {
    background-color: transparent;
  }

  .navbar .navbar-toggler.open-navbar-toggler span::before {
    transform: translateY(0px) rotate(45deg);
  }

  .navbar .navbar-toggler.open-navbar-toggler span::after {
    transform: translateY(-3px) rotate(-45deg);
  }
}

/* Home Section Styles */
.home-body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* Background Video Styles */
#background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Overlay Styles */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

/* Home Content Styles */
.home-content {
  position: relative;
  text-align: center;
  margin-top: 2em;
  z-index: 2;
}

.home-content .home-heading {
  color: #fff;
  font-size: 2.5em;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.home-content .home-subheading {
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 0.5em;
}

.home-link{
  text-decoration: none;
}

span{
  color: #be0a0a;
}

/* Home Animated Button */
.btn {
  margin-top: 3.3em;
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background: #800100;
  min-width: 200px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
  box-sizing: border-box;
  padding: 16px 20px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  overflow: hidden;
  cursor: pointer;
}

.btn:hover {
  opacity: .95;
}

.btn .animation {
  border-radius: 100%;
  animation: ripple 0.6s linear infinite;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1);
  }

  100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1), 0 0 0 80px rgba(255, 255, 255, 0);
  }
}

.choose-us{
  color: #800100;
  font-size: 1.4em;
  margin: 1.7em;
}

.services{
  display: flex;
  align-items: center;
  justify-content: center;
}

.services img{
  margin-right: 10em;
  margin: 4em;
}

.services-container .service-header{
  color: #800100;
  font-size: 1.3em;
  text-align: center;
  justify-content: center;
}

.services-container .services-paragraph{
  font-size: 1em;
  width: 600px;
}

/* Footer */
.footer {
  background: linear-gradient(90deg, #800100, #310804);
  color: #fff;
  text-align: center;
  padding: 20px;
}

.contact-details, .social-icons {
  max-width: 600px;
  margin: 0 auto;
}

.contact-details h4 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 18px;
  margin-bottom: 10px;
}

.contact-details p {
  font-size: 14px;
  margin: 5px 0;
}

/* Style the social media icons */
.social-icons .social-link {
  display: inline-block;
  font-size: 24px; /* Adjust the size as needed */
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
  transition: color 0.3s;
}

.social-icons .social-link:hover{
  color: #000000;
}

.hidden{
  opacity: 0; /*Making the elements visible*/
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1.5s;
}

.show{
  opacity: 1; /*will bring the opacity back to 1 */
  filter: blur(0);
  transform: translateX(0);
}

/* For Mobile devices with 375px  */
/* @media (max-width: 375px){
  .home-content{
    display: grid;
    place-items: center;
  }
 .home-content .home-heading{
    font-size: 1.4em;
    width: 300px;
    padding: 2em 0;
  }
  .home-content .home-subheading{
    font-size: 0.9em;
    width: 300px;

  }
} */
/* For Mobile devices with a width of 375px */
@media (max-width: 375px) {
  .home-content .home-heading {
    font-size: 1.4em;
    width: 300px;
    padding: 2em 0;
  }

  .home-content .home-subheading {
    font-size: 0.9em;
    width: 300px;
  }

  .btn {
    margin-top: 5em;
  }

  .blog-heading-container {
    display: grid;
    place-items: center;
    overflow-x: hidden;
  }

  .blog-heading-container .blog-header {
    text-align: center;
    font-size: 1.2em;
    padding: 2em 2em;
    margin-top: 3em;
    margin-left: 0.1em;
  }

  .blog-heading-container .blog-header-two {
    font-size: 1.1em;
    text-align: center;
    padding: 0;
    margin-left: -0.7em;
    margin-top: -1em;
    width: 350px;
  }

  .blog-heading-container .blog-paragraph {
    color: #646262;
    text-align: center;
    font-size: 1em;
    padding: 2em 2em;
    margin-left: 0.6em;
    width: 390px;
  }

  .choose-us {
    text-align: center;
  }

  .services {
    display: grid;
    place-items: center;
    text-align: center;
    overflow-x: hidden;
  }

  .services img {
    margin-left: 4em;
    max-width: 100%;
    object-fit: contain;
  }

  .services .service-header {
    color: #800100;
    font-size: 1.2em;
    width: 80%;
    margin-left: 1.9em;
    margin-top: 2em;
  }

  .services .services-paragraph {
    color: #646262;
    text-align: center;
    font-size: 0.9em;
    padding: 2em 2em;
    margin-left: 0.6em;
    width: 390px;
  }
}


/* For Mobile devices with 412px  */
/* @media (max-width: 428px){
  .home-content{
    display: grid;
    place-items: center;
  }
 .home-content .home-heading{
    font-size: 1.35em;
    width: 300px;
    padding: 2em 0;
  }
  .home-content .home-subheading{
    font-size: 0.9em;
    width: 300px;
  }
  .btn{
    margin-top: 5em;
  }
  .blog-heading-container{
    display: grid;
    place-items: center;
    overflow-x: hidden;
  }
  .blog-heading-container .blog-header{
    text-align: center;
    font-size: 1.2em;
    padding: 2em 2em;
    margin-top: 3em;
    margin-left: 0.1em;
  }
  .blog-heading-container .blog-header-two{
    font-size: 1.1em;
    text-align: center;
    padding: 0;
    margin-left: -0.7em;
    margin-top: -1em;
    width: 350px;
  }
  .blog-heading-container .blog-paragraph{
    color: #646262;
    text-align: center;
    font-size: 1em;
    padding: 2em 2em;
    margin-left: -0.9em;
    width: 390px;
  }
  .choose-us{
    text-align: center;
  }
  .services{
    display: grid;
    place-items: center;
    text-align: center;
    overflow-x: hidden;
  }
  .services img{
    margin-left: 4em;
    max-width: 100%;
    object-fit: contain;
  }
  .services .service-header{
    color: #800100;
    font-size: 1.2em;
    width: 80%;
    margin-left: 1.9em;
   margin-top: 2em;
  }
  .services .services-paragraph{
    color: #646262;
    text-align: center;
    font-size: 0.9em;
    padding: 2em 2em;
    margin-left: 0.6em;
    width: 390px;
  }
} */
/* For Mobile devices with a width of 428px */
@media (max-width: 428px) {
  .home-content {
    display: grid;
    place-items: center;
  }

  .home-content .home-heading {
    font-size: 1.35em;
    width: 300px;
    padding: 2em 0;
  }

  .home-content .home-subheading {
    font-size: 0.9em;
    width: 300px;
  }

  .btn {
    margin-top: 5em;
  }

  .blog-heading-container {
    display: grid;
    place-items: center;
    overflow-x: hidden;
  }

  .blog-heading-container .blog-header {
    text-align: center;
    font-size: 1.2em;
    padding: 2em 2em;
    margin-top: 2em;
    margin-left: 0.1em;
  }

  .blog-heading-container .blog-header-two {
    font-size: 1.1em;
    text-align: center;
    padding: 1em 0;
    margin-left: -0.7em;
    margin-top: -1em;
    width: 350px;
  }

  .blog-heading-container .blog-paragraph {
    color: #646262;
    text-align: center;
    font-size: 1em;
    padding: 2em 2em;
    width: 350px;
  }

  .choose-us {
    text-align: center;
  }

  .services {
    display: grid;
    place-items: center;
    text-align: center;
    overflow-x: hidden;
  }

  .services img {
    margin-left: 4em;
    max-width: 100%;
    object-fit: contain;
  }

  .services .service-header {
    color: #800100;
    font-size: 1.2em;
    width: 80%;
    margin-left: 1.9em;
    margin-top: 2em;
  }

  .services .services-paragraph {
    color: #646262;
    text-align: center;
    font-size: 0.9em;
    padding: 2em 2em;
    margin-left: 0.6em;
    width: 350px;
  }
}


/* Laptops */
/* @media (min-width: 1024px){ */
  /* Home Section */
 /* .home-content .home-heading{
  padding: 0.4em;
 }
 .home-content .home-subheading{
  padding: 1em;
 } */
  /* Blog Section */
  /* .blog-heading-container{
    display: grid;
    place-items: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: auto;
  }
  .blog-heading-container .blog-header{
    font-size: 1.55em;
    padding: 2.8em 1.9em;
    margin-top: 2em;
  }
  .blog-heading-container .blog-header-two{
    text-align: center;
    font-size: 1.2em;
    margin-top: -1.6em;
    width: 100%;
  }
  .blog-heading-container .blog-paragraph{
    color: #646262;
    font-size: 1.1em;
    padding: 2em 2em;
    max-width: 100%;
    padding: 0;
    margin: 2em 2em;
  }
  .services{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .services img{
    margin-right: 10em;
    margin-top: 4.5em;
  }
  
  .services-container .service-header{
    color: #800100;
    font-size: 1.3em;
    text-align: center;
    justify-content: center;
    margin: 1em;
    padding: 0;
  }
  
  .services-container .services-paragraph{
    font-size: 1em;
    width: 600px;
  }
  
} */
/* For Laptops (width >= 1024px) */
@media (min-width: 1024px) {
  .home-content .home-heading {
    padding: 0.4em;
  }

  .home-content .home-subheading {
    padding: 1em;
  }

  .blog-heading-container {
    display: grid;
    place-items: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: auto;
  }

  .blog-heading-container .blog-header {
    font-size: 1.55em;
    padding: 2.8em 1.9em;
    margin-top: 2em;
  }

  .blog-heading-container .blog-header-two {
    text-align: center;
    font-size: 1.2em;
    margin-top: -1.6em;
    width: 100%;
  }

  .blog-heading-container .blog-paragraph {
    color: #646262;
    font-size: 1.1em;
    padding: 2em 2em;
    max-width: 100%;
    padding: 0;
    margin: 2em 2em;
  }

  .services {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .services img {
    margin-right: 10em;
    margin-top: 4.5em;
  }
  
  .services-container .service-header {
    color: #800100;
    font-size: 1.3em;
    text-align: center;
    justify-content: center;
    margin: 1em;
    padding: 0;
  }

  .services-container .services-paragraph {
    font-size: 1em;
    width: 600px;
  }
}


/* @media (min-width: 768px) and (max-width: 1024px){
  .home-content{
    display: grid;
    place-items: center;
  }
 .home-content .home-heading{
    font-size: 2em;
    padding: 2em 0;
  }
  .home-content .home-subheading{
    font-size: 1.5em;
    width: 700px;
  }
  .btn{
    margin-top: 6em;
  }
  .blog-heading-container{
    display: grid;
    place-items: center;
    overflow-x: hidden;
  }
  .blog-heading-container .blog-header{
    text-align: center;
    font-size: 2em;
    padding: 2em 2em;
    margin-top: 2em;
    margin-left: 0.1em;
  }
  .blog-heading-container .blog-header-two{
    font-size: 1.4em;
    text-align: center;
    padding: 1em 0;
    margin-left: -0.7em;
    margin-top: -1em;
    width: 700px;
  }
  .blog-heading-container .blog-paragraph{
    color: #646262;
    text-align: center;
    font-size: 1.3em;
    padding: 2em 2em;
    width: 700px;
  }
  .choose-us{
    text-align: center;
    font-size: 1.7em;
  }
  .services{
    display: grid;
    place-items: center;
    text-align: center;
    overflow-x: hidden;
  }

  .services img{
    margin-left: 4em;
    width: 500px;
    height: 400px;
  }
  .services .service-header{
    color: #800100;
    font-size: 1.8em;
    width: 80%;
    margin-left: 2em;
   margin-top: 2em;
  }
  .services .services-paragraph{
    color: #646262;
    text-align: center;
    font-size: 1.3em;
    padding: 2em 2em;
    width: 700px;
    margin-left: 1em;
  }
} */
/* For Tablets (width >= 768px and width <= 1024px) */
/* For Tablets (width >= 768px and width <= 1024px) */
/* For Tablets (width >= 768px and width <= 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  .home-content {
    display: grid;
    place-items: center;
  }

  .home-content .home-heading {
    font-size: 2em;
    padding: 2em 0;
  }

  .home-content .home-subheading {
    font-size: 1.2em;
  }

  .blog-heading-container {
    display: grid;
    place-items: center;
    overflow-x: hidden;
  }

  .blog-heading-container .blog-header {
    text-align: center;
    font-size: 1.8em;
    padding: 1em 2em;
    margin-top: 1em;
    margin-left: 0.1em;
  }

  .blog-heading-container .blog-header-two {
    font-size: 1.3em;
    text-align: center;
    padding: 1em 0;
    margin-left: -0.7em;
    margin-top: -1em;
  }

  .blog-heading-container .blog-paragraph {
    color: #646262;
    text-align: center;
    font-size: 1.2em;
    padding: 1em 2em;
    margin-left: 0.6em;
    max-width: 100%;
  }

  .choose-us {
    text-align: center;
  }

  .services {
    display: flex;
    flex-direction: column; /* Change to column layout */
    align-items: center;
    text-align: center;
    overflow-x: hidden;
  }

  .services img {
    max-width: 100%; /* Make sure the images don't overflow */
  }

  .services .service-header {
    color: #800100;
    font-size: 1.5em;
    margin-top: 1em;
  }

  .services .services-paragraph {
    color: #646262;
    text-align: center;
    font-size: 1.3em;
    padding: 1em 2em;
    margin-left: 0.6em;
    max-width: 100%;
  }
}

/* For Phones (width <= 320px and height <= 568px) */
@media (max-width: 320px){
  .home-content {
    text-align: center;
  }

  .home-content .home-heading {
    font-size: 0.9em;
    padding: 1em 0;
  }

  .home-content .home-subheading {
    font-size: 0.9em;
  }

  .blog-heading-container {
    overflow-x: hidden;
  }

  .blog-heading-container .blog-header {
    text-align: center;
    font-size: 1em;
    width: 250px;
    padding: 1em 1em;
    margin-left: -2em;
  }

  .blog-heading-container .blog-header-two {
    font-size: 1em;
    text-align: center;
    padding: 1em 0;
  }

  .blog-heading-container .blog-paragraph {
    color: #646262;
    text-align: center;
    margin-left: -2em;
    width: 290px;
    font-size: 0.8em;
    padding:0em 1em;
  }

  .choose-us {
    text-align: center;
    font-size: 1em;
    margin-left: -0.1em;
  }

  .services {
    text-align: center;
  }

  .services img {
    max-width: 100%;
  }

  .services .service-header {
    color: #800100;
    font-size: 1.2em;
    margin-top: 1em;
  }

  .services .services-paragraph {
    color: #646262;
    text-align: center;
    width: 290px;
    font-size: 0.8em;
    padding: 1em 1em;
  }
}


/* Loader */
.wrapper{
  position: fixed;
  display: grid;
  place-items: center;
  height: 100vh;
  inset: 0;
  background: #ffffff;
  z-index: 99999999999999;
}
.socket {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  margin-left: -100px;
  top: 50%;
  margin-top: -100px;
}

.hex-brick {
  background: #963B3A;
  width: 30px;
  height: 17px;
  position: absolute;
  top: 5px;
  animation-name: fade00;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  -webkit-animation-name: fade00;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}

.h2 {
  transform: rotate(60deg);
  -webkit-transform: rotate(60deg);
}

.h3 {
  transform: rotate(-60deg);
  -webkit-transform: rotate(-60deg);
}

.gel {
  height: 30px;
  width: 30px;
  transition: all .3s;
  -webkit-transition: all .3s;
  position: absolute;
  top: 50%;
  left: 50%;
}

.center-gel {
  margin-left: -15px;
  margin-top: -15px;
  animation-name: pulse00;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  -webkit-animation-name: pulse00;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}

.c1 {
  margin-left: -47px;
  margin-top: -15px;
}

.c2 {
  margin-left: -31px;
  margin-top: -43px;
}

.c3 {
  margin-left: 1px;
  margin-top: -43px;
}

.c4 {
  margin-left: 17px;
  margin-top: -15px;
}

.c5 {
  margin-left: -31px;
  margin-top: 13px;
}

.c6 {
  margin-left: 1px;
  margin-top: 13px;
}

.c7 {
  margin-left: -63px;
  margin-top: -43px;
}

.c8 {
  margin-left: 33px;
  margin-top: -43px;
}

.c9 {
  margin-left: -15px;
  margin-top: 41px;
}

.c10 {
  margin-left: -63px;
  margin-top: 13px;
}

.c11 {
  margin-left: 33px;
  margin-top: 13px;
}

.c12 {
  margin-left: -15px;
  margin-top: -71px;
}

.c13 {
  margin-left: -47px;
  margin-top: -71px;
}

.c14 {
  margin-left: 17px;
  margin-top: -71px;
}

.c15 {
  margin-left: -47px;
  margin-top: 41px;
}

.c16 {
  margin-left: 17px;
  margin-top: 41px;
}

.c17 {
  margin-left: -79px;
  margin-top: -15px;
}

.c18 {
  margin-left: 49px;
  margin-top: -15px;
}

.c19 {
  margin-left: -63px;
  margin-top: -99px;
}

.c20 {
  margin-left: 33px;
  margin-top: -99px;
}

.c21 {
  margin-left: 1px;
  margin-top: -99px;
}

.c22 {
  margin-left: -31px;
  margin-top: -99px;
}

.c23 {
  margin-left: -63px;
  margin-top: 69px;
}

.c24 {
  margin-left: 33px;
  margin-top: 69px;
}

.c25 {
  margin-left: 1px;
  margin-top: 69px;
}

.c26 {
  margin-left: -31px;
  margin-top: 69px;
}

.c27 {
  margin-left: -79px;
  margin-top: -15px;
}

.c28 {
  margin-left: -95px;
  margin-top: -43px;
}

.c29 {
  margin-left: -95px;
  margin-top: 13px;
}

.c30 {
  margin-left: 49px;
  margin-top: 41px;
}

.c31 {
  margin-left: -79px;
  margin-top: -71px;
}

.c32 {
  margin-left: -111px;
  margin-top: -15px;
}

.c33 {
  margin-left: 65px;
  margin-top: -43px;
}

.c34 {
  margin-left: 65px;
  margin-top: 13px;
}

.c35 {
  margin-left: -79px;
  margin-top: 41px;
}

.c36 {
  margin-left: 49px;
  margin-top: -71px;
}

.c37 {
  margin-left: 81px;
  margin-top: -15px;
}

.r1 {
  animation-name: pulse00;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: .2s;
  -webkit-animation-name: pulse00;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: .2s;
}

.r2 {
  animation-name: pulse00;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: .4s;
  -webkit-animation-name: pulse00;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: .4s;
}

.r3 {
  animation-name: pulse00;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: .6s;
  -webkit-animation-name: pulse00;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: .6s;
}

.r1 > .hex-brick {
  animation-name: fade00;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: .2s;
  -webkit-animation-name: fade00;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: .2s;
}

.r2 > .hex-brick {
  animation-name: fade00;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: .4s;
  -webkit-animation-name: fade00;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: .4s;
}

.r3 > .hex-brick {
  animation-name: fade00;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-delay: .6s;
  -webkit-animation-name: fade00;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: .6s;
}

@keyframes pulse00 {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(0.01);
    transform: scale(0.01);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes fade00 {
  0% {
    background: #963B3A;
  }

  50% {
    background: #720201;
  }

  100% {
    background: #720201;
  }
}

