@import url('https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,600&display=swap');

/* Reset some default styles for all elements */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Base styles for the entire page */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

/* Navbar styles */
.navbar {
  background: linear-gradient(90deg, #800100, #310804);
  color: #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  width: 100%;
  height: 80px;
  line-height: 80px;
  font-size: 18px;
  padding: 0 30px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

/* Navbar - Brand */
.navbar a.navbar-brand {
  float: left;
  text-decoration: none;
  color: #fff;
  height: inherit;
  line-height: inherit;
  padding: 0 30px;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
}

.navbar a.navbar-brand span {
  font-size: 28px;
  font-weight: 700;
}

/* Navbar - Navigation Links */
.navbar ul {
  float: right;
  list-style: none;
  height: inherit;
  line-height: inherit;
  padding: 0 50px;
}

.navbar ul li {
  display: inline-block;
}

.navbar ul li a {
  display: block;
  text-align: center;
  min-width: 120px;
  padding: 0 30px;
  text-decoration: none;
  color: #fff;
}

.navbar ul li a:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

/* Navbar - Mobile Menu Toggle Button */
.navbar .navbar-toggler {
  display: none;
}

/* Responsive Design for Small Screens */
@media (max-width: 991px) {
  .navbar ul {
    padding: 0 10px;
  }

  .navbar ul li a {
    min-width: 100px;
    padding: 0 20px;
  }
}

/* Responsive Design for Extra Small Screens (Phones) */
@media (max-width: 767px) {
  .navbar {
    padding: 0;
  }

  .navbar ul {
    width: 100%;
    padding: 0;
    background: linear-gradient(90deg, #800100, #310804);
    height: 100vh;
    max-height: 0;
    overflow: hidden;
    transition: all ease-in-out 0.3s;
  }

  .navbar ul.open {
    max-height: 100vh;
  }

  .navbar ul li {
    width: 100%;
  }

  .navbar ul li a {
    padding: 0;
  }

  /* Navbar Hamburger Menu Button */
  .navbar .navbar-toggler {
    display: block;
    position: absolute;
    height: 40px;
    top: 20px;
    right: 20px;
    background: linear-gradient(90deg, #310804, #310804);
    color: #fff;
    border: 0;
    outline: none;
    padding: 0 5px;
    cursor: pointer;
  }

  .navbar .navbar-toggler span,
  .navbar .navbar-toggler span::before,
  .navbar .navbar-toggler span::after {
    display: block;
    content: "";
    background-color: #ffffff;
    height: 3px;
    width: 28px;
    border-radius: 4px;
    transition: all ease-in-out 0.3s;
  }

  .navbar .navbar-toggler span::before {
    transform: translateY(-8px);
  }

  .navbar .navbar-toggler span::after {
    transform: translateY(5px);
  }

  /* Show "X" icon when menu is open */
  .navbar .navbar-toggler.open-navbar-toggler span {
    background-color: transparent;
  }

  .navbar .navbar-toggler.open-navbar-toggler span::before {
    transform: translateY(0px) rotate(45deg);
  }

  .navbar .navbar-toggler.open-navbar-toggler span::after {
    transform: translateY(-3px) rotate(-45deg);
  }
}

/* Home Section Styles */
.home-body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* Background Video Styles */
#background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Overlay Styles */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

/* Home Content Styles */
.home-content {
  position: relative;
  text-align: center;
  margin-top: 2em;
  z-index: 2;
}

.home-content .home-heading {
  color: #fff;
  font-size: 2.5em;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.home-content .home-subheading {
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 0.5em;
}

.home-link{
  text-decoration: none;
}

span{
  color: #be0a0a;
}

/* Home Animated Button */
.btn {
  margin-top: 3.3em;
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background: #800100;
  min-width: 200px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
  box-sizing: border-box;
  padding: 16px 20px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  overflow: hidden;
  cursor: pointer;
}

.btn:hover {
  opacity: .95;
}

.btn .animation {
  border-radius: 100%;
  animation: ripple 0.6s linear infinite;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1);
  }

  100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1), 0 0 0 80px rgba(255, 255, 255, 0);
  }
}

.choose-us{
  color: #800100;
  font-size: 1.4em;
  margin: 1.7em;
}

.services{
  display: flex;
  align-items: center;
  justify-content: center;
}

.services img{
  margin-right: 10em;
  margin: 4em;
}

.services-container .service-header{
  color: #800100;
  font-size: 1.3em;
  text-align: center;
  justify-content: center;
}

.services-container .services-paragraph{
  font-size: 1em;
  width: 600px;
}

/* Footer */
.footer {
  background: linear-gradient(90deg, #800100, #310804);
  color: #fff;
  text-align: center;
  padding: 20px;
}

.contact-details, .social-icons {
  max-width: 600px;
  margin: 0 auto;
}

.contact-details h4 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 18px;
  margin-bottom: 10px;
}

.contact-details p {
  font-size: 14px;
  margin: 5px 0;
}

/* Style the social media icons */
.social-icons .social-link {
  display: inline-block;
  font-size: 24px; /* Adjust the size as needed */
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
  transition: color 0.3s;
}

.social-icons .social-link:hover{
  color: #000000;
}

.hidden{
  opacity: 0; /*Making the elements visible*/
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1.5s;
}

.show{
  opacity: 1; /*will bring the opacity back to 1 */
  filter: blur(0);
  transform: translateX(0);
}

/* Styling the loader */
.wrapper{
  position: fixed;
  display: grid;
  place-items: center;
  background: #ffffff;
  inset: 0;
  height: 100vh;
  width: auto;
  z-index: 99999999;
}

.loader {
  position: relative;
  width: 120px;
  height: 90px;
  margin: 0 auto;
}

.loader:before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 50px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #000;
  animation: loading-bounce 0.5s ease-in-out infinite alternate;
}

.loader:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 7px;
  width: 45px;
  border-radius: 4px;
  box-shadow: 0 5px 0 #ffffff, -35px 50px 0 #ffffff, -70px 95px 0 #ffffff;
  animation: loading-step 1s ease-in-out infinite;
}

@keyframes loading-bounce {
  0% {
    transform: scale(1, 0.7);
  }

  40% {
    transform: scale(0.8, 1.2);
  }

  60% {
    transform: scale(1, 1);
  }

  100% {
    bottom: 140px;
  }
}

@keyframes loading-step {
  0% {
    box-shadow: 0 10px 0 rgba(0, 0, 0, 0),
            0 10px 0 #800100,
            -35px 50px 0 #800100,
            -70px 90px 0 #800100;
  }

  100% {
    box-shadow: 0 10px 0 #800100,
            -35px 50px 0 #800100,
            -70px 90px 0 #800100,
            -70px 90px 0 rgba(0, 0, 0, 0);
  }
}



/* For Mobile devices with 375px  */
@media (max-width: 375px){
  .home-content{
    display: grid;
    place-items: center;
  }
 .home-content .home-heading{
    font-size: 1.4em;
    width: 300px;
    padding: 2em 0;
  }
  .home-content .home-subheading{
    font-size: 0.9em;
    width: 300px;

  }
}

/* For Mobile devices with 412px  */
@media (max-width: 428px){
  .home-content{
    display: grid;
    place-items: center;
  }
 .home-content .home-heading{
    font-size: 1.35em;
    width: 300px;
    padding: 2em 0;
  }
  .home-content .home-subheading{
    font-size: 0.9em;
    width: 300px;
  }
  .btn{
    margin-top: 5em;
  }
  .blog-heading-container{
    display: grid;
    place-items: center;
    overflow-x: hidden;
  }
  .blog-heading-container .blog-header{
    text-align: center;
    font-size: 1.2em;
    padding: 2em 2em;
    margin-top: 3em;
    margin-left: 0.1em;
  }
  .blog-heading-container .blog-header-two{
    font-size: 1.1em;
    text-align: center;
    padding: 0;
    margin-left: -0.7em;
    margin-top: -1em;
    width: 350px;
  }
  .blog-heading-container .blog-paragraph{
    color: #646262;
    text-align: center;
    font-size: 1em;
    padding: 2em 2em;
    margin-left: -0.9em;
    width: 390px;
  }
  .choose-us{
    text-align: center;
  }
  .services{
    display: grid;
    place-items: center;
    text-align: center;
    overflow-x: hidden;
  }
  .services img{
    margin-left: 4em;
    max-width: 100%;
    object-fit: contain;
  }
  .services .service-header{
    color: #800100;
    font-size: 1.2em;
    width: 80%;
    margin-left: 1.9em;
   margin-top: 2em;
  }
  .services .services-paragraph{
    color: #646262;
    text-align: center;
    font-size: 0.9em;
    padding: 2em 2em;
    margin-left: 0.6em;
    width: 390px;
  }
}

/* Laptops */
@media (min-width: 1024px){
  /* Home Section */
 .home-content .home-heading{
  padding: 0.4em;
 }
 .home-content .home-subheading{
  padding: 1em;
 }
  /* Blog Section */
  .blog-heading-container{
    display: grid;
    place-items: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: auto;
  }
  .blog-heading-container .blog-header{
    font-size: 1.55em;
    padding: 2.8em 1.9em;
    margin-top: 2em;
  }
  .blog-heading-container .blog-header-two{
    text-align: center;
    font-size: 1.2em;
    margin-top: -1.6em;
    width: 100%;
  }
  .blog-heading-container .blog-paragraph{
    color: #646262;
    font-size: 1.1em;
    padding: 2em 2em;
    max-width: 100%;
    padding: 0;
    margin: 2em 2em;
  }
  .services{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .services img{
    margin-right: 10em;
    margin-top: 4.5em;
  }
  
  .services-container .service-header{
    color: #800100;
    font-size: 1.3em;
    text-align: center;
    justify-content: center;
    margin: 1em;
    padding: 0;
  }
  
  .services-container .services-paragraph{
    font-size: 1em;
    width: 600px;
  }
  
}

@media (min-width: 768px) and (max-width: 1024px){
  .home-content{
    display: grid;
    place-items: center;
  }
 .home-content .home-heading{
    font-size: 2em;
    padding: 2em 0;
  }
  .home-content .home-subheading{
    font-size: 1.5em;
    width: 700px;
  }
  .btn{
    margin-top: 6em;
  }
  .blog-heading-container{
    display: grid;
    place-items: center;
    overflow-x: hidden;
  }
  .blog-heading-container .blog-header{
    text-align: center;
    font-size: 2em;
    padding: 2em 2em;
    margin-top: 2em;
    margin-left: 0.1em;
  }
  .blog-heading-container .blog-header-two{
    font-size: 1.4em;
    text-align: center;
    padding: 1em 0;
    margin-left: -0.7em;
    margin-top: -1em;
    width: 700px;
  }
  .blog-heading-container .blog-paragraph{
    color: #646262;
    text-align: center;
    font-size: 1.3em;
    padding: 2em 2em;
    width: 700px;
  }
  .choose-us{
    text-align: center;
    font-size: 1.7em;
  }
  .services{
    display: grid;
    place-items: center;
    text-align: center;
    overflow-x: hidden;
  }

  .services img{
    margin-left: 4em;
    width: 500px;
    height: 400px;
  }
  .services .service-header{
    color: #800100;
    font-size: 1.8em;
    width: 80%;
    margin-left: 2em;
   margin-top: 2em;
  }
  .services .services-paragraph{
    color: #646262;
    text-align: center;
    font-size: 1.3em;
    padding: 2em 2em;
    width: 700px;
    margin-left: 1em;
  }
}
